%h1 Waste

%ul
  %li
    %a{'href'=>'/waste/items'} Items
  %li
    %a{'href'=>'/waste/types'} Types
  %li
    %a{'href'=>'/waste/collections'} Collections
  %li
    %a{'href'=>'/waste/containers'} Containers
