%h1 Waste

%ul
  %li
    %a{'href'=>'/waste/services'} Services
  %li
    %a{'href'=>'/waste/items'} Items
  %li
    %a{'href'=>'/waste/categories'} Categories
  %li
    %a{'href'=>'/waste/containers'} Containers
  %li
    %a{'href'=>'/waste/rounds'} Rounds
  %li
    %a{'href'=>'/waste/collections'} Collections

%hr

%ul
  %li
    %a{'href'=>'/waste/properties'} Properties

%h2 Waste API

%ul
  %li
    %a{'href'=>'/waste/api/items'} Items
  %li
    %a{'href'=>'/waste/api/types'} Types
  %li
    %a{'href'=>'/waste/api/containers'} Containers
  %li
    %a{'href'=>'/waste/api/rounds'} Rounds
  %li
    %a{'href'=>'/waste/api/collections'} Collections
