<!DOCTYPE html>
<html>
<head>
  <title>Waste</title>
  <%= stylesheet_link_tag    "waste/application", media: "all" %>
  <%= javascript_include_tag "waste/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
